language: python

jobs:
  include:
    - os: linux
      python: 2.7
      env: TOXENV=py27

    - os: linux
      python: 3.5
      env: TOXENV=py35

    - os: linux
      python: 3.6
      env: TOXENV=py36

    - os: linux
      python: 3.7
      env: TOXENV=py37

    - os: linux
      python: 3.8
      env: TOXENV=py38

    - os: linux
      python: 3.9
      env: TOXENV=py39

    - os: linux
      python: 3.10-dev
      env: TOXENV=py310

# Install the required packages not included in the standard distribution.
install: pip install --no-cache-dir --upgrade tox

script: tox
